<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.souhou.watersystem">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 申明网络权限  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 申明权限 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/souhou_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="Android:icon, android:theme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".common.BaseActivity" />
        <activity
            android:name="com.uuzuche.lib_zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="扫描二维码"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.activity.UserActivity" />
        <activity android:name=".ui.activity.NewsActivity.NewsMsgActivity" />
        <activity android:name=".ui.activity.FaultActivity.FaultMesActivity" />
        <activity android:name=".ui.activity.NewsActivity.UserdetailsActivity" />
        <activity android:name=".ui.activity.NewsActivity.NotHandelActivity" />
        <activity android:name=".ui.activity.NewsActivity.YesHandelActivity" />
        <activity android:name=".ui.activity.NewsActivity.NewInstRedActivity" />
        <activity android:name=".ui.activity.NewsActivity.NewAddActivity" />
        <activity android:name=".ui.activity.NewsActivity.NewAddSubActivity" />
        <activity android:name=".ui.activity.FaultActivity.FaultDataActivity" />
        <activity android:name=".ui.activity.FaultActivity.FaultHandActivity" />
        <activity android:name=".ui.activity.FaultActivity.FaultNotHandActivity" />
        <activity android:name=".ui.activity.FaultActivity.FaultRcodHandelActivity" />
        <activity android:name=".ui.activity.FaultActivity.FaultNewActivity" />
        <activity android:name=".ui.activity.FaultActivity.FaultSubNewActivity" />
        <activity android:name=".common.BaseBackActivity" />
        <activity android:name=".ui.activity.MeterActivity.MeterNotRecordActivity" />
        <activity android:name=".ui.activity.MeterActivity.MeterYesRecordActivity" />
        <activity android:name=".ui.activity.MeterActivity.MeterRecordctivity" />
        <activity android:name=".ui.activity.MeterActivity.MeterQRActivity" />
        <activity android:name=".ui.activity.MeterActivity.MeterSubActivity"></activity>
    </application>

</manifest>